body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff; /* Light background color */
}

header {
  background-color: #002262; /* Green background */
  color: white; /* White text */
  padding: 10px 20px; /* Padding around header */
  text-align: center; /* Center text */
}

main {
  text-align: center; /* Center main content */
  margin: 20px; /* Margin around main content */
}

img {
  max-width: 70%; /* Responsive image */
  height: auto; /* Maintain aspect ratio */
  border: 5px solid #002262; /* Green border */
  border-radius: 10px; /* Rounded corners */
  margin: 6px 0; /* Margin above and below image */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow effect */
}

footer {
  text-align: center; /* Center footer text */
  padding: 10px; /* Padding around footer */
  background-color: #002262; /* Green background */
  color: white; /* White text */
  position: relative; /* Positioning footer */
  bottom: 0; /* Position footer at the bottom */
  width: 100%; /* Full width footer */
}
